<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
    
    <div class="mdl-card__title">
           <h4 class="mdl-card__title-text">Choose a new stop</h4>
    </div>
    <div class="">
        <div id="map" class="map"></div>
    </div>
    <div class="mdl-card__supporting-text">
      <%= form_for(@location) do |f| %>
        <div hidden class="mdl-textfield mdl-js-textfield mdl-textfield--floating-lab">
          <%= f.label :xcoord, class:"mdl-textfield__label" %><br>
          <%= f.text_field :xcoord, class:"mdl-textfield__input" %>
        </div>
        <div  hidden class="mdl-textfield mdl-js-textfield mdl-textfield--floating-lab">
          <%= f.label :ycoord, class:"mdl-textfield__label"  %><br>
          <%= f.text_field :ycoord, class:"mdl-textfield__input" %>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-labe">
          <%= f.label :Search , class:"mdl-textfield__label"  %><br>
          <%= f.text_field :name, class:"mdl-textfield__input" %>
        </div>
        <div class="actions">
        </div>
    </div>
    <%= f.submit "submit", class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% end %>
  </div>
</div>



<script>
  var map;
  var geocoder;
  var markers = [];
  var xcoord = document.getElementById('location_xcoord');
  var ycoord = document.getElementById('location_ycoord');
  var name =document.getElementById("location_name");
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 42.3765, lng: -71.2356},
      zoom: 12
    });
    
    geocoder = new google.maps.Geocoder();
  
    document.getElementById("location_name").addEventListener("keydown", codeAddress, false);
    
    map.addListener('click', function(e){
        
        //Grab variables
        var coords = e.latLng.toString().substring(1,e.latLng.toString().length-1);
        var x = coords.split(',')[0];
        var y = coords.split(',')[1];
        
        //
        map.setCenter(e.latLng);
        
        //Set all markers to null
        for (var i=0;i< markers.length; i++){
            markers[i].setMap(null);
        }
        
        //Make the new marker
        var marker= new google.maps.Marker({
            position:e.latLng,
            map:map
        });
        
        xcoord.value=x;
        ycoord.value=y;
        
        markers.push(marker);
        geocoder.geocode( { 'location': e.latLng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var address = results[0].address_components[0].long_name + " " + results[0].address_components[1].long_name + " " + results[0].address_components[2].long_name + " " + results[0].address_components[3].long_name;
            
            // markers.push(marker);
            google.maps.event.addListener(marker, "dragend", function() {
              document.getElementById('location_name').value= address;
            });
            document.getElementById('location_name').value= address;
          }
        });
    });
    
  }
  
  function keyDownTextField (e) {
    alert(e.keyCode);
  }
  
  function codeAddress() {
        var address = document.getElementById('location_name').value;
        
        //Set all markers to null
        for (var i=0;i< markers.length; i++){
            markers[i].setMap(null);
        }
        
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            
            marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                draggable: true
            });
            
            var address = results[0].address_components[0].long_name + " " + results[0].address_components[1].long_name + " " + results[0].address_components[2].long_name + " " + results[0].address_components[3].long_name;
            
            markers.push(marker);
            google.maps.event.addListener(marker, "dragend", function() {
              document.getElementById('location_xcoord').value = marker.getPosition().lat();
              document.getElementById('location_ycoord').value = marker.getPosition().lng();
              // document.getElementById('location_name').value= address;
            });
            document.getElementById('location_xcoord').value = marker.getPosition().lat();
            document.getElementById('location_ycoord').value = marker.getPosition().lng();
            // document.getElementById('location_name').value= address;

          } else {
            // alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
  
  
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmZ0UjQy-J4ELU51wczIAqv9nlywKb4mA&callback=initMap" async defer></script>
